/*****************************************************************************
  four panel
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

*, html, body {
	/*overflow: hidden;*/
	text-align: center;
	overflow: hidden;
}

#container {
	@include transition(all 0.2s ease-in-out);

	height: 100vh;
	width: 200%;
	text-align: center;
	position: absolute;
	left: 0px;

}

.col {
	@include transition(all 0.2s ease-in-out);

	float: left;
	display: inline-block;
	width: 12.5%;
	height: 100%;
	border: solid black .2em;

	&.active {
		/*@include transform(translateX(0px));*/
		@include transition(all 0.2s ease-in-out);

		width: 50%;
	}

	&.col1 {
		background-color: tomato;
	}

	&.col2 {
		background-color: yellow;
	}

	&.col3 {
		background-color: blue;
	}

	&.col4 {
		background-color: pink;
	}
}

/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/




