/*****************************************************************************
  four panel
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

*, html, body {
	/*overflow: hidden;*/
	text-align: center;
	overflow: hidden;
}

#container {
	@include transition(all 1s ease-in-out);

	height: 100vh;
	width: 200%;
	text-align: center;
	position: absolute;
	left: 0px;

}

.col {
	@include transition(all 1s ease-in-out);

	float: left;
	display: inline-block;
	width: 12.5%;
	height: 100%;
	border: solid black .2em;
	opacity: 0.5;

	&.active {
		@include transition(all 1s ease-in-out);

		width: 50%;
		opacity: 1;
	}

	&.col1 {
		/*background-color: tomato;*/
		background: url('../images/O14A0247.jpg') no-repeat center center fixed;
	}

	&.col2 {
		/*background-color: yellow;*/
		background: url('../images/O14A0256.jpg') no-repeat center center fixed;
	}

	&.col3 {
		/*background-color: blue;*/
		background: url('../images/O14A0456.jpg') no-repeat center center fixed;
	}

	&.col4 {
		/*background-color: pink;*/
		background: url('../images/O14A0464.jpg') no-repeat center center fixed;
	}
}

/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/




